/* assets/css/post.css */
/* POST CONTENT */
article img, .post-content img { max-width:100%; height:auto; display:block; margin:0.5rem auto; }
article ul, .post-content ul { list-style-position:inside; padding-left:1.5rem; margin:1rem 0; }
article li, .post-content li { margin-bottom:0.5rem; }
